/*
 * @Author: 刁琪
 * @Date: 2019-09-10 17:23:58
 * @LastEditors: わからないよう
 * @LastEditTime: 2020-08-26 19:32:15
 */ 
.creat-group-page{
  .form-area{
    margin-top: 20px;
  }
  .sign-area{
    margin-top: 50px;
    padding: 20px;
  }
  .new-group-info{
    text-align: left;
  }
}