/*
 * @Author: 刁琪
 * @Date: 2019-09-10 17:39:02
 * @LastEditors: 刁琪
 * @LastEditTime: 2020-07-27 17:20:07
 */ 
.banner-page{
  .banner-link{
    display: 'inline-block';
    width: 100%;
    height: 176px;
  }
}